<!-- Landing Header -->
<div class="container-fluid">
  <h1>Welcome to Bike Basingstoke</h1>
  <h3>Your source for used bikes in Basingstoke</h3>

  <div class="img-container">
    <%= image_tag("webpiccontactheader1.jpg", size: "384x216", class: "img-responsive center-block") %>
  </div>

</div><!-- /container-fluid -->