<!-- Page Header -->
<div class="page-header center">
  <h1>About <small>| Bike Basingstoke</small></h1>
  <p>We like bikes very much and willing to sell them to you.</p>
  <p>With this app you can find a ride in Basingstoke wherever you are and see if there are ones to hire.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod congue bibendum. Aliquam erat volutpat. Phasellus eget justo lacus. Vivamus pharetra ullamcorper massa, nec ultricies metus gravida egestas. Duis congue viverra arcu, ac aliquet turpis rutrum a. Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis. Phasellus vel tellus id felis cursus hendrerit.</p> 
</div> 
