<!-- Landing Page -->
<div class="row">

  <!-- Primary Content: Home Page Feature -->
  <section class="content-primary col-md-5">

    <!-- Carousel -->
    <%= render partial: 'landing_carousel' %>

    <!-- Featured Content -->
    <h2>Featured Content</h2>
    <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget.</p>
    <p><%= link_to ('Learn more <span class="icon fa fa-arrow-circle-right"></span>').html_safe, products_path, class: "btn btn-feature btn-lg pull-right" %></p>

  </section><!-- /content-primary -->

  <!-- Secondary Content: Middle Column Feature -->
  <section class="content-secondary col-md-4">

      <h3>Welcome!</h3>
      <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
      <p><a class="btn btn-primary pull-right" href="#">Read more <span class="icon fa fa-arrow-circle-right"></span></a></p>

      <h3>Recent Updates</h3>
      <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
      <p><a class="btn btn-primary pull-right" href="#">Read more <span class="icon fa fa-arrow-circle-right"></span></a></p>

      <h3>And another thing</h3>
      <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
      <p><a class="btn btn-primary pull-right" href="#">Read more <span class="icon fa fa-arrow-circle-right"></span></a></p>

  </section><!-- /content-scondary -->

  <!-- Tertiary Content: Last Column Feature -->
  <section class="content-tertiary col-md-3">
      <h4>Don't Miss!</h4>
      <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
      <p><a class="btn btn-default btn-xs pull-right" href="#">Read more <span class="icon fa fa-arrow-circle-right"></span></a></p>
      <h4>Check it out</h4>
      <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
      <p><a class="btn btn-default btn-xs pull-right" href="#">Read more <span class="icon fa fa-arrow-circle-right"></span></a></p>
      <h4>Finally</h4>
      <p>Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
      <p><a class="btn btn-default btn-xs pull-right" href="#">Read more <span class="icon fa fa-arrow-circle-right"></span></a></p>
  </section><!-- /content-tertiary -->

</div><!-- /.row -->
