<!-- Landing Header -->
<%= render partial: 'landing_heading' %>
<hr>
<!-- Landing Carousel -->
<%= render partial: 'landing_carousel' %>
<hr>
<!-- Landing Feature -->
<%= render partial: 'landing_feature' %>
<hr>
<h3><%= link_to 'Show other products', products_path %></h3> 
<hr>