<!-- Payment Creation Page -->
<div class="panel panel-success">
  <div class="panel-heading">
    <h4><strong>Payment Received</strong></h4>
  </div><!-- / panel-heading -->

  <div class="panel-body">
    <p>Thank you. Your order has been received. Your product will be posted shortly.</p>
    <p><%= link_to "Click here to see the details", orders_path %></p>    
  </div><!-- / panel-body -->

  <div class="panel-footer">
    <p><%= link_to "Click here to go back to see more PRODUCTS", products_path %></p>
    <p><%= link_to "Click here to go to the ORDERS page", orders_path %></p>
  </div><!-- / panel-footer -->

</div><!-- / panel -->