@import "bootstrap-sprockets";
@import "bootstrap";

/* VARIABLES */

/*Grays
/*-------------------------*/

$gray-darker:             #222; 
$gray-dark:               #454545;
$gray:                    #777; 
$gray-light:              #aeaeae;
$gray-lighter:            #ccc;
$gray-lightest:           #ededed;
$off-white:               #fafafa; 


/*Carousel*/
$carousel-control-width:                      15%;
$carousel-control-opacity:                    .7;
$carousel-control-font-size-large:            $carousel-control-font-size * 1.5;
$carousel-indicator-bg:                       $gray-light;
$carousel-indicator-active-bg:                $gray;
$carousel-indicator-border-color:             transparent;

/* Point at which the navbar stops collapsing */
$grid-float-breakpoint: $screen-md-min;

/* BANNER */

header[role="banner"] {
  .banner-brand {
    padding-top: 40px;
  }
  > .container {
    position: relative; /* constrain absolute positioned utility nav*/
  }
  .utility-nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1999;
    > ul {
      list-style: none;
      > li {
        float: left;
        > a {
          display: inline-block;
          padding: 8px 12px;
          &:hover {
          text-decoration: none;
          }
          @media (max-width: ($grid-float-breakpoint - 1)) {
            span {
              display: none !important;
            }
            .icon {
              font-size: 2em;
              line-height: 1.2;
            }
          }  
        }
      }
    }
  }
}

/* Apply .navbar-inverse styles to the expanded navbar */
@media (min-width: $grid-float-breakpoint) {
  .navbar-default {
    /*.navbar-inverse();*/
    .navbar-nav > li > a {
      text-transform: uppercase;
      font-size: 82%;
      font-weight: bold;
    }
  }
}

/* NAVBAR */
/* Navbar toggle */
.navbar-toggle {
  float: left; 
  margin-left: $navbar-padding-horizontal;
}

/* Navbar nav links */ 

@media (max-width: $grid-float-breakpoint) {
  /* Dropdowns get custom display when collapsed */
  .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    > li > a,
    .dropdown-header {
      padding: 5px 15px 5px 25px;
    }
    > li > a {
      line-height: $line-height-computed;
      &:hover,
      &:focus {
        background-image: none;
      }
    }
  }
}

/* Alternate navbars */

.navbar-default {
  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;

      .icon { 
        color: $gray-light;
      }

      &:hover,
      &:focus,
      &:hover .icon,
      &:focus .icon { 
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus,
      .icon,
      &:hover .icon,
      &:focus .icon {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }
}
