/* Styling Product pages.*/
.col-xs-12 {
  height: 100%;
}

h6 {
  font-size: 1em;
  font-weight: bold; 
}

h4, hr, .thumbnail, p,
.product-review-overall-rating,
.product-review,
.product-details {
  margin: 5px auto;
}

.product-review-overall-rating,
.product-review {
  padding: 1em;
  border-radius: 5px; 
}

.admin-buttons {
  text-align: center;
  margin-bottom: 1em;     

}

.product-details {
  height: 100%;
}

.rating {
  padding-bottom: 1em;
  
}

