// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* universal */

body {
  padding-top: 60px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #696200;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 1em;
  padding-right: 1em;
  border-top: 2px solid #696200;
  
  a {
    color: #34595e;
    &:hover {
      color: black;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;    

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.img-container {
  display: block;  
  margin: auto;   
  max-width: 200px; 
  position: relative; 
}