<!-- Editing Product -->

<!-- Page Header -->
<div class="page-header center">
  <h1>Edit Product <small> with some details...</small></h1>
	<%= link_to 'Show', @product %>
</div>

<%= render partial: 'products/form' %>
